.p6o-teiview-container header {
  background-color: #fff;
  border-bottom: 1px solid var(--p6o-section-border-light);
  border-radius: var(--p6o-border-radius) var(--p6o-border-radius) 0 0;
}

.p6o-teiview-container {
  border: var(--p6o-control-border);
  background-color: var(--p6o-section-bg-light);
  border-radius: var(--p6o-border-radius);
}

.p6o-teiview-mode-switch {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  gap: 5px;
}

.p6o-tei-content {
  padding: 15px;
}

.p6o-teiview-nav {
  border-top: 1px solid var(--p6o-section-border-light);
  background-color: #fff;
  border-radius: 0 0 var(--p6o-border-radius) var(--p6o-border-radius);
}
.p6o-teiview-histogram {
  padding: 10px 10px 0 10px;
  height: 60px;
}

.p6o-teiview-nav-bottom {
  font-size: 13px;
  padding: 5px 12px 5px 5px;
}

.p6o-teiview-nav-picker button {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 4px 8px;
}

.p6o-teiview-nav-picker button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
