.p6o-teiview-container header {
  background-color: #fff;
  border-bottom: 1px solid var(--p6o-section-border-light);
  border-radius: var(--p6o-border-radius) var(--p6o-border-radius) 0 0;
}

.p6o-teiview-container {
  border: var(--p6o-control-border);
  background-color: var(--p6o-section-bg-light);
  border-radius: var(--p6o-border-radius);
}

.p6o-teiview-mode-switch {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  gap: 5px;
}

.p6o-tei-content {
  padding: 15px;
}

.p6o-teiview-histogram {
  background-color: #fff;
  border-radius: 0 0 var(--p6o-border-radius) var(--p6o-border-radius);
  border-top: 1px solid var(--p6o-section-border-light);
  padding: 10px 10px 0 10px;
  height: 80px;
}
