.p6o-scrolling-list-container {
  overflow-y: scroll;
  position: relative;
  box-sizing: border-box;
  pointer-events: auto;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.p6o-scrolling-list-container::-webkit-scrollbar { 
  display: none; /* Safari and Chrome */
}

.p6o-scrolling-list-card-container {
  opacity: 0;
  position: relative;
}

.p6o-scrolling-list-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  pointer-events: auto;
}

.p6o-scrolling-list-nav button {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: center;
  outline: none;
}

.p6o-scrolling-list-nav .p6o-scrolling-list-nav-scroll-pos {
  text-align: center;
}

.p6o-scrolling-list-nav-scroll-pos.vertical {
  display: flex;
  flex-direction: column;
  line-height: 130%;
  padding: 5px 0;
}