.p6o-static-list-close {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: center;
  outline: none;
  pointer-events: all;
  position: absolute;
}