.p6o-more-tags-search {
  padding-top: 10px;
  position: relative;
}

.p6o-more-tags-search svg {
  left: 2px;
  position: absolute;
  top: 14px
}

.p6o-more-tags-search input {
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 1px 0;
  box-sizing: border-box;
  outline: none;
  padding: 5px 0 5px 26px;
  width: 100%;
}